#!/bin/sh
TINYDNS_ROOT_DIR={{ net_djbdns_tinydns_root_dir }}
PATH=/bin:/sbin:/usr/bin:/usr/sbin:/opt/local/bin:/opt/local/sbin

cd $TINYDNS_HOME
        case "$1" in
          start)        echo "Starting tinydns."
		  	cd $TINYDNS_ROOT_DIR
                        exec  $TINYDNS_ROOT_DIR/run &
                        echo $! > {{ net_djbdns_tinydns_pid_file }}
                        ;;
          stop)         echo "Shutting down tinydns."
                        kill `cat {{ net_djbdns_tinydns_pid_file }}`
                        rm -f {{ net_djbdns_tinydns_pid_file }}
                        ;;
          *)            echo "Usage: $0 {start|stop}"
                        exit 1
        esac
        exit 0
